.personal-info {
  .avatar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .introduction {
    font-family: 'Archivo Black';
    display: flex;
    justify-content: center;
    word-spacing: 2px;
    letter-spacing: 2px;
    padding: 0.5rem;
    border-radius: 10px;
    background: linear-gradient(#fff, rgb(23, 134, 199));
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    max-width: 640px;
    margin: 5% 0;
  }
}