@import '../generalAttribute.less';

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Montserrat';
  gap: 1rem;
  .responsive-setting({
    padding: 0;
  }, {
    padding: 0 10%;
  }, {
    padding: 0 20%;
  });
  & > * {
    flex-basis: 100%;
  }
  .title {
    text-align: center;
    vertical-align: middle;
    position: relative;
    &::after {
      content: '';
      background-image: url(../../assets/svg/skill.svg);
      background-repeat: no-repeat;
      background-size: 2rem;
      background-position: center;
      width: 2rem;
      height: 100%;
      margin-left: 1rem;
      position: absolute;
    }
  }
  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4px;
    & > * {
      flex-basis: 100%;
    }
    .item {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .responsive-setting({
        justify-content: center;
      }, {
        justify-content: center;
      }, {
        justify-content: space-between;
      });
      .name-container {
        display: flex;
        align-items: center;
        .responsive-setting({
          flex-basis: 100%;
          justify-content: center;
          gap: 1rem;
        }, {
          flex-basis: 100%;
          justify-content: center;
          gap: 1rem;
        }, {
          flex-basis: 50%;
          justify-content: flex-start;
          gap: 1rem;
        });
        .name {

        }
        .image-container {
          display: flex;
          gap: 4px;
          img {
            max-width: 50px;
            width: 100%;
          }
        }
      }
      .intensity {
        .star {
          margin: 0.5rem;
          opacity: 0.2;
          color: rgb(235, 236, 164);
          &.show {
            animation: fadeIn 0s 0s forwards ease-out;
            color: rgb(236, 236, 28);
          }
          &.hide {
            animation: none;
          }
        }
        @keyframes fadeIn {
          0% {
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}